:root {
    /* --dark:#071c2c; */
    --dark:#0f0827;
    --main-dark:#18132c;
    --large-text:#715892;
    --small-text:#AA99C1;
}

body {
    background-color: var(--main-dark);
}

#navigation, footer {
    background-color: var(--dark);
}

h1, h2, h3, .page-link {
    color: var(--small-text)
}

p, a, li, hr, h5, h6, h4, div, a.btn {
    color: var(--small-text)
}

.filter-btn, .card, .page-link {
    background-color: var(--dark);
}

.page-link {
    border-color: var(--dark)
}

.dark-btn {
    pointer-events: auto;
}

.dark-btn:hover {
    background-color: var(--small-text);
    color: var(--dark);
}

.light-btn {
    pointer-events: none;
}

a.light-btn {
    background-color: var(--small-text);
    color: var(--dark);
}
