:root {
    --dark:#071c2c;
    --main-dark:#0B2A40;
    --large-text:#715892;
    --small-text:#AA99C1;
}

body {
    background-color: var(--main-dark);
}

#navigation, footer {
    background-color: var(--dark);
}

h1, h2, h3, .page-link {
    color: var(--small-text)
}

p, a, li, hr, h5, h6, h4, div, a.btn {
    color: var(--small-text)
}

#projects-nav a, #contactMe a, .card, .page-link {
    background-color: var(--dark);
}

.page-link {
    border-color: var(--dark)
}
