/* // Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) { */
    body {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    p, li, button, h5, h6 {
        font-size: 150%;
    }

    a.btn-size {
        font-size: 100%;
    }

    /* ----------------------------------------- */
    /* ----------------navbar------------------- */
    /* ----------------------------------------- */
    #navigation {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #navigation img {
        margin: 1em;
        position: relative;
        margin-left: 1em;
        margin-top: 1em;
        width: 30px; 
        height: 30px;
    }

    #navigation ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        position: relative;
        right: 5em;
    }

    #navigation li {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-content:center; 
    }

    #navigation a {
        margin: .25em;
        /* padding: 8px; */
    }

    .border-div {
        height: 25px;
        width: 100vw;
        background-image: url('../resources/images/scalloped_border.png'); 
        background-repeat: repeat-x;
        background-size: auto;
        margin-bottom: 5em;
    }

    /* ----------------------------------------- */
    /* ----------------contact------------------- */
    /* ----------------------------------------- */
    #contact {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        position: fixed;
        right: 1%;
        top: 55%;
    }

    #contact a {
        margin: 1em;
        padding: 0em;
    }

    #contact img {
        height: 40px;
        width: 40px;
    }

    /* ----------------------------------------- */
    /* -----------main-body-of-page------------- */
    /* ----------------------------------------- */
    main {
        margin-top: 1em;
        margin-left: 3em;
        margin-right: 3em;
        margin-bottom: 3em;
        padding: 0;
        padding-right: 2em;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    /* ----------------------------------------- */
    /* -----------main-header------------------- */
    /* ----------------------------------------- */

    header h3 {
        position: relative;
        left: 1em;
        font-size: 300%;
    }

    main header p, #aboutMe p, #contactMe p {
        text-indent: 25px;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    header {
        margin-right: 2em;
    }

    header img {
        width: 50%;
    }

    #header-top {
        display: flex;
        align-items: center;
        margin-bottom: 5em;
    }

    header h1 {
        font-size: 450%;
        position: relative;
        left: 50px;
    }

    header .picture-frame {
        margin: 1em;
        display: inline-block;
        padding: 20px;
        border: 100px solid transparent;
        border-image: url('../resources/images/pictureframe1_large.png') 150 round; /* The PNG image for the picture frame */
    }

    /* ----------------------------------------- */
    /* -----------projects---------------------- */
    /* ----------------------------------------- */
    #projects {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    #projects-nav {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }

    #projects-nav h2 {
        margin: 0;
        padding-left: 15px;
    }

    #projects-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #projects-list li {
        margin: 0;
        padding: 0;
    }

    #projects-list a {
        margin: 1em;
        padding: 8px;
    }

    #projects button {
        margin: 1em;
    }

    #project-navigation {
        margin: 0;
        padding: 0;
    }

    #project-navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .card-body {
        margin: 0;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-title, .card-subtitle, button.Art, button.Programming {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .collapse {
        margin-bottom: 1em;
    }

    /* ----------------------------------------- */
    /* -----------about-me---------------------- */
    /* ----------------------------------------- */

    #aboutMe img {
        margin: 0;
        padding: 0;
        height: 278px;
    }

    #aboutMe .picture-frame {
        margin: 0;
        padding: 0;
        display: inline-block;
        border: 40px solid transparent;
        border-image: url('../resources/images/pictureframe1_large.png') 90 round; 
    }

    #aboutMe h2, #contactMe h2 {
        margin-bottom: .5em;
    }

    #aboutMe figure {
        float: right;
        margin-left: 3em;
        position: relative;
        bottom: 1em;
    }

    #skills {
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* ----------------------------------------- */
    /* -----------footer------------------------ */
    /* ----------------------------------------- */
    footer {
        margin: 0;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer p {
        text-align: center;
    }


/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    /* -----------------------------------------
    /* -----------Header---------------------- */
    /* ----------------------------------------- */
    header img {
        width:300px;
    }

    #header-top {
        display: flex;
    }

    header h3 {
        font-size: 250%;
    }

    header h1 {
        font-size: 350%;
        position: relative;
        left: 50px;
    }
    
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    /* -----------------------------------------
    /* -----------Header---------------------- */
    /* ----------------------------------------- */
    header img {
        width:250px;
    }

    #header-top {
        display: flex;
    }

    header h3 {
        font-size: 200%;
    }

    header h1 {
        font-size: 300%;
        position: relative;
        left: 50px;
    }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* ----------------------------------------- */
    /* -----------header---------------------- */
    /* ----------------------------------------- */
    #header-top img {
        margin-bottom: 3em;
    }

    /* ----------------------------------------- */
    /* -----------navigation---------------------- */
    /* ----------------------------------------- */
    #navigation img {
        display: none;
    }

    #navigation {
        justify-content: flex-end;
    }

    /* one column */
    /* ----------------------------------------- */
    /* ----------------contact------------------- */
    /* ----------------------------------------- */
    #contact {
        right: -1%;
    }

    #contact img {
        height: 30px;
        width: 30px;
    }

    /* ----------------------------------------- */
    /* -----------main-body-of-page------------- */
    /* ----------------------------------------- */
    main {
        padding-right: 1em;
    }

    /* -----------------------------------------
    /* -----------Header---------------------- */
    /* ----------------------------------------- */
    header img {
        width:350px;
    }

    #header-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    header h1 {
        position: relative;
        left: 0;
    }

    /* ----------------------------------------- */
    /* -----------projects---------------------- */
    /* ----------------------------------------- */
    #projects-nav {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

     #projects-nav h2, #aboutMe h2, #contactMe h2 {
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
        text-align: center;
    }

    #projects-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    /* ----------------------------------------- */
    /* -----------about-me---------------------- */
    /* ----------------------------------------- */
    #aboutMe .aboutMeDiv {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    #aboutMe figure {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    #skills {
        margin-top: 1em;
        flex-direction: column;
        justify-content: none;
        align-items: left;
    }
}