/* // Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) { */
    body {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    p:not(footer p), #skills li, a, #projects-nav a, h5, h6 { 
        font-size: 150%;
    }

    h2 {
        font-size: 2.5em;
    }

    /* ----------------------------------------- */
    /* ----------------navbar------------------- */
    /* ----------------------------------------- */
    #navigation {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    #navigation ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        position: relative;
        right: 5em;
    }

    #navigation li {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-content:center; 
    }

    #navigation a {
        margin: .5em;;
        padding: 8px;
        font-size: 125%;
    }

    /* ----------------------------------------- */
    /* ----------------contact------------------- */
    /* ----------------------------------------- */
    #contact {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        position: fixed;
        right: 1%;
        top: 55%;
    }

    #contact a {
        margin: 1em;
        padding: 0em;
    }

    #contact img, #contactLink a img {
        height: 40px;
        width: 40px;
    }

    #contactLink {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* ----------------------------------------- */
    /* -----------main-body-of-page------------- */
    /* ----------------------------------------- */
    main {
        margin-top: 2em;
        margin-left: 3em;
        margin-right: 3.5em;
        margin-bottom: 3em;
        padding: 0;
        padding-right: 2em;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    /* ----------------------------------------- */
    /* -----------main-header------------------- */
    /* ----------------------------------------- */
    main header h3 {
        position: relative;
        left: 1em;
        font-size: 4em;
    }

    main header h1 {
        font-size: 5em;
        padding: 0;
        margin: 0;
        position: relative;
        bottom: 1em;
    }

    header div {
        position: relative;
        margin: 0;
        margin-top: 4em;
        margin-left: 2em;
    }

    main header p {
        /* font-size: 150%; */
        position: relative;
        margin: 0;
        margin-top: 1em;
        text-indent: 25px;
        padding: 0 1em;
        text-align: left;
        bottom: 2.5em;
    }

    #aboutMe p, #contactMe p {
        text-indent: 25px;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    /* ----------------------------------------- */
    /* -----------projects---------------------- */
    /* ----------------------------------------- */
    #projects {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    #projects-nav {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    }

    #projects-nav h2 {
        margin: 0;
        padding-left: 15px;
    }

    #projects-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #projects-list li {
        margin: 0;
        padding: 0;
    }

    #projects-list a {
        margin: 1em;
        padding: 8px;
    }

    #projects button {
        margin: 1em;
    }

    #project-navigation {
        margin: 0;
        padding: 0;
    }

    #project-navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .card-body {
        margin: 0;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-title, .card-subtitle, button.Art, button.Programming {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .collapse {
        margin-bottom: 1em;
    }

    h6.card-subtitle {
        margin-top: .5rem;
    }


    /* ----------------------------------------- */
    /* -----------about-me---------------------- */
    /* ----------------------------------------- */

    #aboutMe img {
        margin: 0;
        padding: 0;
        height: 278px;
        width:222px;
    }

    #aboutMe h2, #contactMe h2 {
        margin-bottom: .5em;
    }

    #aboutMe figure {
        float: right;
        margin-left: 3em;
    }

    #skills {
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* ----------------------------------------- */
    /* -----------footer------------------------ */
    /* ----------------------------------------- */
    footer {
        margin: 0;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer p {
        text-align: center;
    }
/* } */

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    /* ----------------------------------------- */
    /* -----------main-header------------------- */
    /* ----------------------------------------- */
    main header h3 {
        font-size: 3em;
        margin-bottom: 0;
    }

    main header h1 {
        font-size: 4em;
    }

    /* main header p { */
    p:not(footer p), #skills li, a, #projects-nav a, h5, h6 { 
        font-size: 135%;
    }

    header div {
        margin-top: 2.5em;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 768.98px) {
    h2 {
        font-size: 2.25em;
    }

    /* ----------------------------------------- */
    /* ----------------navbar------------------- */
    /* ----------------------------------------- */
    #navigation ul {
        right: 2em;
    }

    #navigation a {
        margin: .5em;;
        padding: 8px;
        font-size: 100%;
    }

    /* ----------------------------------------- */
    /* -----------main-header------------------- */
    /* ----------------------------------------- */
    main header h3 {
        font-size: 2em;
        margin-bottom: 1.5em;
    }

    main header h1 {
        font-size: 3em;
    }

    /* main header p { */
    p:not(footer p), #skills li, a, #projects-nav a, h5, h6 { 
        font-size: 120%;
        margin-top: 1.5em;
    }

    header div {
        margin-top: 2.5em;
    }


    /* ----------------------------------------- */
    /* -----------about-me---------------------- */
    /* ----------------------------------------- */

    #skills li {
        margin: 0;
    }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* ----------------------------------------- */
    /* ----------------contact------------------- */
    /* ----------------------------------------- */
    #contact {
        right: -1%;
    }

    #contact img {
        height: 30px;
        width: 30px;
    }

    /* ----------------------------------------- */
    /* -----------main-header------------------- */
    /* ----------------------------------------- */
    main header h3 {
        font-size: 1.75em;
    }

    main header h1 {
        font-size: 2.5em;
    }

    /* main header p { */
    p:not(footer p), #skills li, a, #projects-nav a, h5, h6 { 
        font-size: 110%;
    }

    /* ----------------------------------------- */
    /* -----------main-body-of-page------------- */
    /* ----------------------------------------- */
    main {
        padding-right: 1em;
    }

    /* ----------------------------------------- */
    /* -----------projects---------------------- */
    /* ----------------------------------------- */
    #projects-nav {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

     #projects-nav h2, #aboutMe h2, #contactMe h2 {
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
        text-align: center;
    }

    #projects-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    /* ----------------------------------------- */
    /* -----------about-me---------------------- */
    /* ----------------------------------------- */
    #aboutMe .aboutMeDiv {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    #aboutMe figure {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    #skills {
        margin-top: 1em;
        flex-direction: column;
        justify-content: none;
        align-items: left;
    }
}